{% extends "./layout.html" %}

{% block reportBody %}

<h3 class="govuk-heading-m">DPR Icon Set</h3>
 
  <div class="pr-icon-wrapper">
    <i class="icon bookmark-icon"></i>
    <p class='govuk-body-s'>Bookmark</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon viewed-icon"></i>
    <p class='govuk-body-s'>history</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon list-icon"></i>
    <p class='govuk-body-s'>List View</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon card-icon"></i>
    <p class='govuk-body-s'>Card View</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon print-icon"></i>
    <p class='govuk-body-s'>print</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon download-icon"></i>
    <p class='govuk-body-s'>download</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon share-icon"></i>
    <p class='govuk-body-s'>share</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon close-icon"></i>
    <p class='govuk-body-s'>close</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon info-icon"></i>
    <p class='govuk-body-s'>info</p>
  </div>

  <br>
  <p>Requested icon candidates:</p>
  <div class="pr-icon-wrapper">
    <i class="icon hourglass-icon"></i>
    <p class='govuk-body-s'>hourglass-empty</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon pending-actions-icon"></i>
    <p class='govuk-body-s'>pending-actions</p>
  </div>
  <div class="pr-icon-wrapper">
    <i class="icon pending-icon"></i>
    <p class='govuk-body-s'>pending</p>
  </div>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Static / Informational</h3> 
<h3 class="govuk-heading-s">Regular</h3> 
    <div class="icon-wrapper">
      <i class="icon bookmark-icon"></i>
    </div>
    <div class="icon-wrapper">
      <i class="icon viewed-icon"></i>
    </div>
    <div class="icon-wrapper">
      <i class="icon list-icon"></i>
    </div>
    <div class="icon-wrapper">
      <i class="icon card-icon"></i>
    </div>
    <div class="icon-wrapper">
      <i class="icon print-icon"></i>
    </div>
    <div class="icon-wrapper">
      <i class="icon download-icon"></i>
    </div>
    <div class="icon-wrapper">
      <i class="icon share-icon"></i>
    </div>

<h3 class="govuk-heading-s govuk-!-margin-top-6">Large</h3> 
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon bookmark-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon viewed-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon list-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon card-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon print-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon download-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l">
      <i class="icon share-icon"></i>
    </div>

<h3 class="govuk-heading-s govuk-!-margin-top-6">Extra Large</h3> 
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon bookmark-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon viewed-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon list-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon card-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon print-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon download-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--xl">
      <i class="icon share-icon"></i>
    </div>


<h3 class="govuk-heading-m govuk-!-margin-top-9">Live / Clickable</h3>
<h3 class="govuk-heading-s">Regular</h3> 
    <div class="icon-wrapper icon-live" tooltip="bookmark">
      <i class="icon bookmark-icon"></i>
    </div>
    <div class="icon-wrapper icon-live" tooltip="viewed">
      <i class="icon viewed-icon"></i>
    </div>
    <div class="icon-wrapper icon-live" tooltip="list">
      <i class="icon list-icon"></i>
    </div>
    <div class="icon-wrapper icon-live" tooltip="card">
      <i class="icon card-icon"></i>
    </div>
    <div class="icon-wrapper icon-live" tooltip="print">
      <i class="icon print-icon"></i>
    </div>
    <div class="icon-wrapper icon-live" tooltip="download">
      <i class="icon download-icon"></i>
    </div>
    <div class="icon-wrapper icon-live" tooltip="share">
      <i class="icon share-icon"></i>
    </div>

<h3 class="govuk-heading-s govuk-!-margin-top-6">Large</h3> 
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="bookmark">
      <i class="icon bookmark-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="viewed">
      <i class="icon viewed-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="list view">
      <i class="icon list-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="card view">
      <i class="icon card-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="print">
      <i class="icon print-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="download">
      <i class="icon download-icon"></i>
    </div>
    <div class="icon-wrapper icon-wrapper--l icon-live"  tooltip="share">
      <i class="icon share-icon"></i>
    </div>

<h3 class="govuk-heading-s govuk-!-margin-top-6">Extra Large</h3> 

<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="bookmark">
  <i class="icon bookmark-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="viewed">
  <i class="icon viewed-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="list view">
  <i class="icon list-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="card view">
  <i class="icon card-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="print">
  <i class="icon print-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="download">
  <i class="icon download-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live" tooltip="share">
  <i class="icon share-icon"></i>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-9">Active / Clicked</h3>

<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="bookmark">
  <i class="icon bookmark-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="viewed">
  <i class="icon viewed-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="list view">
  <i class="icon list-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="card view">
  <i class="icon card-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="print">
  <i class="icon print-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="download">
  <i class="icon download-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-active" tooltip="share">
  <i class="icon share-icon"></i>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-9">Disabled</h3>

<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="bookmark disabled">
  <i class="icon bookmark-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="viewed disabled">
  <i class="icon viewed-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="list view disabled">
  <i class="icon list-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="card view disabled">
  <i class="icon card-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="print disabled">
  <i class="icon print-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="download disabled">
  <i class="icon download-icon"></i>
</div>
<div class="icon-wrapper icon-wrapper--xl icon-live icon-disabled" tooltip="share disabled">
  <i class="icon share-icon"></i>
</div>


{% endblock %}