<!-- Javascript -->

{% for appScript in appScripts %}
<script src="{{appScript.path}}"></script>
{% endfor %}

<script type="module" src="/extension-assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
<script type="module" src="/extension-assets/govuk-frontend/dist/govuk-prototype-kit/init.js"></script>
<script src="/extension-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>
<script src="/extension-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>

<script type="module" src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>