<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" integrity="sha384-q8pVyAK2InF9wi3dnZ5Wkzj906k+Rvjw1V125dWmOTXWa9vnbqqdWRqUSY5AioHg" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.js" integrity="sha384-32Bjt4RVT3p8QTqMarkmFedqc7U5p+wcbaCWIQmC+v5FuR4hiVweQZs54aJ7If4C" crossorigin="anonymous"></script>
<link href ="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src="/moj/all.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
