<div class="chart-container">
  {% if type === 'doughnut' %}

    <div class="chart-card__pie-wrapper govuk-!-margin-top-2">
      {{ donutChart(chart) }}
    </div>
  
  {% elif type === 'pie' %}

    <p class="govuk-body govuk-!-margin-bottom-1">
      Total: <span class="govuk-!-font-weight-bold govuk-!-padding-right-3">{{ chart.total }}</span>
    </p>
    <div class="chart-card__pie-wrapper">
      {{ donutChart(chart) }}
    </div>

  {% elif type === 'line' or type === 'bar'  %}

    {% set data = chart.data %}
    
    {% if data[0].total %}
      <div class='chart-card-totals govuk-!-margin-bottom-2'> 
        {% for set in data %}
          {% if set.total %}
            <p class="govuk-body govuk-!-margin-bottom-1 chart-card-totals__total">
              {{ set.title }}: <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">{{ set.total }}</span>
            </p>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if type === 'line'  %}

      {{ lineChart(chart) }}
    
    {%  elif type === 'bar' %}
      
      {{ barChart(chart) }}
    
    {% endif %} 

  {% elif type === 'heatmap' %}

    {{ heatmapChart(chart) }}

  {% endif %} 
</div>