{% from "../components/chart-card/macro.html"      import chartCard %}

{% extends "./metrics-layout.html" %}

{% block dashboardBody %}

<h3 class="govuk-heading-l">{{ title }}</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full insight-card-container">
    {% for metric in data %}
      {% if metric.type == 'headline' %}
        <div class="metric-card inight-card-group__item insight-card-value-{{ metric.status }}">
          <p class="govuk-heading-m govuk-!-margin-bottom-1">{{ metric.name}}</p>
          <p class="govuk-heading-l govuk-!-padding-top-1 govuk-!-margin-bottom-3">{{ metric.value}}</p>
          {% if metric.breakdown %}
          <a href="{{ metric.breakdown }}">view breakdown</a>
          {% endif %}
          {% if metric.viewRecords %}
          <a href="{{ metric.viewRecords }}">view records</a>
          {% endif %}
        </div>
      {% elif metric.type == 'chartCard' %}
        <div class="metric-card inight-card-group__item insight-chart-card">
          {{ chartCard(metric.value, metric.id) }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}