{% from "../components/search-box/views/macro.html" import appSearchBox %}

{% extends "layout.html" %}

{% block content %}
<div class="mu-v11">
  <h3 class="govuk-heading-m">Search {{ type }}</h3>

  {{ appSearchBox(
    tags,
    authors,
    keywords
  ) }}

  {% from "govuk/components/table/macro.njk" import govukTable %}

  {{ govukTable({
    captionClasses: "govuk-table__caption--m",
    head: [
      {
        text: "Report"
      },
      {
        text: "Product"
      },
      {
        text: "Match(es)"
      }
    ]
  }) }}
</div>

<script type="text/javascript">
  document.definitions = {{ definitions | json }}
</script>
{% endblock %}