// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Configure MoJ Frontend
$moj-assets-path: '/moj/assets/';
$moj-images-path: '/moj/assets/images/';

@import "node_modules/@ministryofjustice/frontend/moj/all";

// Components

@import "components/_cards";
@import "app/versions/main-ui/v1/components/data-table/sass/data-table";
@import "components/_chart-card";
@import "components/_insight-card";
@import "components/_dropdown-button";
@import "components/_loading-anim";
@import "components/_bookmarks";
@import "components/_icons";
@import "components/_async";
@import "components/_mis";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.filter-summary-remove-button:after {
  background-image: url(#{$moj-images-path}icon-tag-remove-cross.svg);
  content: "";
  display: inline-block;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px;
}

#main-content {
  padding-top: 20px;
}

.filter-summary-show-filter-button {
  margin-right: 10px;
}

// Overrides

div.govuk-width-container {
  max-width: 1170px;
}

div.moj-primary-navigation__container {
  max-width: 1170px;
}

table.govuk-table {
  width: auto;
  min-width: 40%;
}

.govuk-table__row--versions:hover {
  background-color: unset !important;
}

.govuk-table__row:hover {
  background-color: govuk-colour("light-grey");
}

// SDT
.sdt-container {
  display: flex;
  flex-direction: row;
}

.side-nav {
  position: sticky;
  top: 4px;
  flex: 0 0 auto;
  align-self: flex-start;
  width: 150px;
}

.sdt-main {
  width: 100%;
  padding: govuk-spacing(4);
}

.data-filter-section {
  display: none;
}

.data-filter-section--show {
  display: block;
}

.custom-date-section {
  display: none;
}

.custom-date-section--show {
  display: block;
}

.selected-filters-info {
  display: inline-block;
  padding-right: govuk-spacing(4);
}

// Print
@media print {
  .data-table-paging,
  .moj-filter-layout__filter,
  .govuk-breadcrumbs,
  .moj-primary-navigation,
  .govuk-footer,
  .filter-summary-controls,
  .print-hide {
    display: none;
  }

  .data-table-header-button-sort-ascending:after,
  .data-table-header-button-sort-descending:after,
  .data-table-header-button-sort-none:after,
  .data-table-header-button-sort-none:before {
    content: none;
  }

  .print-header-footer {
    display: table-cell;
    text-align: center;
  }

  .govuk-table__cell,
  .govuk-table__header {
    font-size: 14px;
  }

  .moj-button-menu__wrapper a {
    border: 1px solid #b1b4b6;
    box-shadow: none;
    font-size: 14px;
  }

  div.govuk-width-container {
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .moj-page-header-actions {
    margin-bottom: 5px;
  }

  .filter-summary-remove-button:after {
    margin-left: 0;
    width: 0;
  }

  .moj-scrollable-pane {
    overflow-x: clip;
  }

  .govuk-table__header button {
    display: none;
  }

  .filter-section-row.filter-section-row__columns {
    display: none;

    .filter-section-accordion-button {
      display: none;
    }
  }

  .filter-section-row.filter-section-row__filter {
    border-bottom: none;

    .filter-section-accordion-button {
      display: none;
    }

    .filter-section-details {
      position: relative;
      left: 0;

      .filter-remove-button__text {
        display: block;
        text-decoration: none;
        padding-bottom: 0;
        padding-left: 0;
      }

      .govuk-body {
        font-size: 14px;
        color: govuk-colour("black");
      }
    }
  }
}

@media screen {
  .print-header-footer,
  .govuk-table__header span,
  .screen-hide {
    display: none;
  }
}


// V4 Filter actions
.checkbox-filter .govuk-checkboxes__item {
  display: inline-block;
  width: 28%;
  vertical-align:top
}

.checkbox-filter .govuk-checkboxes--small .govuk-checkboxes__item {
  float: none
}


.filter-section {
  margin-bottom: govuk-spacing(1);

  .filters-accordion {
    padding-top: govuk-spacing(3);
  }
}

.date-range-input {
  max-width: 250px; 
}

// Filter accordion
.filter-section-row {
  position: relative;
}

.filter-section-details {
  position: absolute;
  top: 5px;
  left: 120px;
}

.filter-section-details__static {
  position: relative;
  left: 0;
}

.filter-section-details__text {
  padding-left: govuk-spacing(2);
  padding-top: govuk-spacing(2);
}

.filter--applied {
  display: inline-block;
  padding-top: govuk-spacing(2);
  padding-right: govuk-spacing(3);
  padding-bottom: govuk-spacing(2);
}

.filter-remove-button__text {
  display: inline-block;
  padding: govuk-spacing(2);
  padding-right: govuk-spacing(6);
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: govuk-colour("blue");
  text-decoration-color: govuk-colour("blue");
  text-decoration-thickness: 1px;

  .filter-remove-button-icon:after {
    background-image: url(#{$moj-images-path}icon-tag-remove-cross.svg);
    content: "";
    display: none;
    position: absolute;
    font-weight: bold;
    top: 18px;
    right: govuk-spacing(2);
    height: 10px;
    width: 10px;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");
    text-decoration: none;
    color: govuk-colour("black");

    .filter-remove-button-icon:after {
      display: block;
    }
  }
}

.filter-section-accordion-button {
  min-width: 130px;
  padding-right: govuk-spacing(3);
}

.filter-section-action {
  position: absolute;
  bottom: govuk-spacing(3);
  right: 0;
}

.table-filter {
  display: inline-block;
  width: 28%;
  vertical-align:top;
} 

.max-column-help-text {
  display: none;
}

.max-column-help-text.show {
  display: block;
}

.header-wrapper {
  position: relative;
}

.report-actions {
  position: absolute;
  right: 0;
  top: 0;
}

.actions-button {
  min-width: 160px;
}

.actions-button.govuk-button--disabled, .actions-button.govuk-button[disabled=disabled], .actions-button.govuk-button[disabled] {
  opacity: 1;
  cursor: pointer;
  background-color: govuk-colour("green");
}

.actions-list-container {
  width: 158px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 40px;
  border: solid 1px govuk-colour("mid-grey");
  display: none;
  background-color: white;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;

    li {
      padding: govuk-spacing(3);
      width: 130px;
      border-bottom: solid 1px govuk-colour("mid-grey");
    }
  }
}

.report-actions:hover .actions-list-container {display: block}
.report-actions:hover .actions-button {background-color: #005a30}


.save-list-form {
  max-width: 75%;
}

.save-list-form--hide {
  display: none;
}

.list-exists-panel {
  display: none;
} 

.list-exists-panel--show {
  display: block;
}

.list-saved-panel {
  display: none;
} 

.list-saved-panel--show {
  display: block;
}

.v5-remove-list-button {
  display: inline-block;
}

.manage-lists-table {
  .govuk-table__cell.vertical-center {
    vertical-align: middle;
  }
}

// Main UI V7
.table-row-count {
  color: govuk-colour("dark-grey");
  font-weight: 100;
  text-align: right;
}

.table-row-count--top {
  padding-bottom: govuk-spacing(0);
}

.table-row-count--bottom {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
}

.dpr-data-table {
  width: 100% !important;
}

.data-table-page-size {
  float: right;
}

.report-wrapper {
  position: relative;
}

.or-v2 {
  #v2-search-box {
    min-width: 400px;
    width: auto;
  }

  .search-box-section .govuk-form-group {
    margin-bottom: 0;
  }

  .search-results-section {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .search-box-prompt {
    position: relative;

    ul {
      background-color: white;
      display: inline-block;
      left: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      width: 440px;
      z-index: 10000;
    }

    li {
      border: #b1b4b6 1px solid;
      border-top: 0;
      text-align: left;

      button, a {
        box-shadow: none;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
      }
    }

    li.govuk-heading-s {
      margin-bottom: 0;
      min-height: 39px;
      align-content: center;
      padding-left: 10px;
    }
  }

  .govuk-tag[data-type="list-filter"]:hover {
    background-color: $govuk-error-colour;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.or-v3, .mu-v11 {
  #v3-search-box, #v11-mu-search-box {
    min-width: 400px;
    width: auto;
  }

  .govuk-table__body{
    margin-top: 20px;

    b {
      background-color: $govuk-focus-colour;
      font-weight: normal;
    }
  }
}

.mu-v11 {
  .insight-card-value {
    font-size: 2.25rem;
  }

  .mis-side-nav {
    width: 250px;
  }

  .mis-main #user-selected-filters-form-dashboard {
    text-align: right;
  }
}

.report-placeholeder {
  height: 600px;
  background-color: govuk-colour("light-grey");
  margin: 25px 0px;
  padding: 30px;
  text-align: center;

  p {
    color: govuk-colour("mid-grey");
  }
}

.remove-tag {
  cursor: pointer;

  .govuk-form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;

    .govuk-label {
      padding-top: 8px;
      padding-right: 10px;
      flex-basis: 50%;
    }
  }
}

// Operational Reporting V6

.dpr-tag {
  border-radius: 100px;
  font-size: 10px;
  padding-left: govuk-spacing(2);
  padding-right: govuk-spacing(2);
  padding-bottom: govuk-spacing(0);
  padding-bottom: 5px;
  margin-bottom: 5px;
  position: relative;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.dpr-tag--large {
  font-size: 14px;
}

.dpr-tag.dpr-tag--no-tooltip {
  cursor: default;
}

.dpr-tag.dpr-tag--add {
  background-color: govuk-colour("light-blue");
  color: white;
  &:hover {
    background-color: govuk-colour("blue");
    color: white;
  }
}

.dpr-tag.dpr-tag--remove {
  background-color: govuk-colour("light-blue");
  margin-left: govuk-spacing(1);
  &:hover {
    background-color: govuk-colour("blue");
    color: white;
  }
}

.dpr-bookmark-tooltip {
  position: relative;
}

.dpr-bookmark-tooltip:hover:after,
.dpr-tag:hover:after {
  background: govuk-colour("dark-grey");
  content: attr(tooltip);
  display: block;
  color: white;
  padding: govuk-spacing(3);
  position: absolute;
  top: 34px;
  white-space: nowrap;
  text-transform: none;
  z-index: 98;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.dpr-tag--no-tooltip:hover:after {
  display: none;
}

.dpr-bookmark-tooltip:hover:before,
.dpr-tag:hover:before {
  content: '';
  z-index: 98;
  display: block;
  position: absolute;
  top: 28px;
  width: 20; 
  height: 20;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid govuk-colour("dark-grey"); 
}

.dpr-tag--no-tooltip:hover:before {
  display: none;
  cursor: default;
}

.dpr-tag:hover:before {
  left: 25px;
}

.dpr-bookmark-tooltip:hover:before {
  top: 7px;
  left: 30px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid govuk-colour("dark-grey");
}

.dpr-bookmark-tooltip:hover:after {
  top: -9px;
  left: 50px;
}

.dpr-tag--link {
  height: 19px !important;
}

.dpr-table__bm_head {
  width: 50px;
}

.dpr-slide-container {
  position: relative;
  padding-bottom: govuk-spacing(7);
}

.dpr-full-width-bg-container {
  padding-left: 300px;
  padding-right: 300px;
  margin-left: -300px;
  margin-right: -300px;
}

.dpr-full-width-bg-container--grey {
  background-color: lighten(govuk-colour("light-blue"), 42%);
}

.dpr-full-width-bg-container--padding {
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);
}

.dpr-slide-container--grey {
  background-color: lighten(govuk-colour("light-blue"), 42%);
}

.dpr-slide-container--padding-top {
  padding-top: govuk-spacing(7);
}

.dpr-bookmark-inline {
  display:inline-block;
  padding-left: 6px;
}

.dpr-catalogue-banner {
  padding-top: govuk-spacing(8);
  padding-bottom: govuk-spacing(8);
  padding-left: 300px;
  padding-right: 300px;
  margin-left: -300px;
  margin-right: -300px;
  margin-top: -20px;
  background-color:govuk-colour("blue");
  h3,p,a {
    color: white;
  }
  a {
    font-size: 24px;
    font-weight: bold;
    text-underline-offset: 6px;
  }
  a.dpr-chevron-link:hover:before {
    right: -26px;
    border-right: 4px solid white;
    border-top: 4px solid white;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      margin-bottom: 14px;
    }
  }
}

a.dpr-chevron-link {
  position: relative;
}
a.dpr-chevron-link:before {
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  right: -20px;
  top: 8px;
  transform: translateY(0px) rotate(45deg) scale(1);
  width: 12px;
  border-right: 4px solid white;
  border-top: 4px solid white;
}

.bg-color--grey {
  background-color: govuk-colour("light-grey")
}

.sub-heading {
  color: govuk-colour("dark-grey");
  margin-bottom: 0px;
}

#recently-viewed-reports-table,
#bookmarks-reports-table,
#op-reports-table {
  width: 100%;
  .govuk-table__row:hover {
    background-color: white;
  }
  .hide-header-column, .hide-column {
    display: none;
  }
  tbody.govuk-table__body {
    tr.hide-table-row {
      display: none;
    }
  }

  b {
    background-color: govuk-colour("yellow");
    font-weight: normal;
  }
}

.dpr-search-container {
  width: 50%;
}

.reset-link {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: govuk-colour("light-grey")
}

.mis-ors-tag {
  position: absolute;
  bottom: -5px;
  left: 0px;
}

.dpr-rv-card-timestamp {
  position: absolute;
  bottom: 1px;
  left: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: govuk-colour("dark-grey")
}

.dpr-view-toggle {
  display: inline-block;

  .icon-wrapper {
    margin-right: 0px;
  }

  .icon-wrapper.icon-active {
    box-sizing: border-box;
  }
}

.slide-toggle-container {
  position: absolute;
  top: 40px;
  right: 300px;
}

.toggle-content {
  display: none;
}

.toggle-content--active {
  display: block;
}

.catalogue-controls-container {
  padding-top: govuk-spacing(7);
  padding-bottom: govuk-spacing(7);
  margin-top: -15px;
}

.search-query-message {
  margin-top: -25px;
  color: govuk-colour("dark-grey")
}

.search-query-message--hidden {
  display: none;
}

#placeholder-reports-table {
  width: 100%
}

.report-action-icons {
  position: absolute;
  right: 0px;
}


#main-content {
  position: relative;
}
