// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Configure MoJ Frontend
$moj-assets-path: '/moj/assets/';
$moj-images-path: '/moj/assets/images/';

@import "node_modules/@ministryofjustice/frontend/moj/all";

// Components

@import "components/_cards";
@import "../../components/data-table/sass/data-table";
@import "components/_chart-card";
@import "components/_insight-card";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.filter-summary-remove-button:after {
  background-image: url(#{$moj-images-path}icon-tag-remove-cross.svg);
  content: "";
  display: inline-block;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px;
}

#main-content {
  padding-top: 20px;
}

.filter-summary-show-filter-button {
  margin-right: 10px;
}

// Overrides

div.govuk-width-container {
  max-width: 1170px;
}

div.moj-primary-navigation__container {
  max-width: 1170px;
}

table.govuk-table {
  width: auto;
  min-width: 40%;
}

.govuk-table__row--versions:hover {
  background-color: unset !important;
}

.govuk-table__row:hover {
  background-color: govuk-colour("light-grey");
}

// SDT
.sdt-container {
  display: flex;
  flex-direction: row;
}

.side-nav {
  position: sticky;
  top: 4px;
  flex: 0 0 auto;
  align-self: flex-start;
  width: 150px;
}

.sdt-main {
  width: 100%;
  padding: govuk-spacing(4);
}

// Print

@media print {
  .data-table-paging,
  .moj-filter-layout__filter,
  .govuk-breadcrumbs,
  .moj-primary-navigation,
  .govuk-footer,
  .filter-summary-controls,
  .print-hide {
    display: none;
  }

  .data-table-header-button-sort-ascending:after,
  .data-table-header-button-sort-descending:after,
  .data-table-header-button-sort-none:after,
  .data-table-header-button-sort-none:before {
    content: none;
  }

  .print-header-footer {
    display: table-cell;
    text-align: center;
  }

  .govuk-table__cell,
  .govuk-table__header {
    font-size: 14px;
  }

  .moj-button-menu__wrapper a {
    border: 1px solid #b1b4b6;
    box-shadow: none;
    font-size: 14px;
  }

  div.govuk-width-container {
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .moj-page-header-actions {
    margin-bottom: 5px;
  }

  .filter-summary-remove-button:after {
    margin-left: 0;
    width: 0;
  }

  .moj-scrollable-pane {
    overflow-x: clip;
  }

  .govuk-table__header button {
    display: none;
  }
}

@media screen {
  .print-header-footer,
  .govuk-table__header span,
  .screen-hide {
    display: none;
  }
}
