{%- from "govuk/components/tag/macro.njk" import govukTag -%}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-caption-xl">Prototype versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row govuk-table__row--versions">
      <th scope="col" class="govuk-table__header" width="15%">Version</th>
      <th scope="col" class="govuk-table__header" width="25%">Status</th>
      <th scope="col" class="govuk-table__header" width="60%">What changed</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for version in versions.items %}
    <tr class="govuk-table__row govuk-table__row--versions">
      <td class="govuk-table__cell">
        <a href='{{ versions.path }}/v{{version.versionNumber}}/' class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version {{ version.versionNumber }}</a>
      </td>
      <td class="govuk-table__cell">
        {% if version.status === 'in design' %}
          {% set tagColour = 'grey' %}
        {% elif version.status === 'Done' %}
          {% set tagColour = 'green' %}
        {% else %}
          {% set tagColour = 'blue' %}
        {% endif %}
        {{govukTag({
          text: version.status,
          classes: "govuk-tag--{{ tagColour }}"
        })}}
      </td>
      <td class="govuk-table__cell">
        {% include version.changeLogPath %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>