
{% extends "layout.html" %}

{% block pageTitle %}
Digital Prison Reporting MI Prototype - Safety Diagnostic Tool
{% endblock %}

{% block subHeader %}
<div class="govuk-width-container ">
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: "/" },
      { text: "Safety Diagnostic Tool", href: "/safety-diagnostic-tool/" }
    ]
  }) }}
</div>
{% endblock %}

{% block content %}

  <div class="govuk-width-container ">
    {% block contentBody %}{% endblock %}
  </div>

{% endblock %}
