{% from "govuk/components/table/macro.njk"       import govukTable %}
{% from "govuk/components/pagination/macro.njk"  import govukPagination %}
{% from "govuk/components/select/macro.njk"      import govukSelect %}

{%- set pages = [] %}
{%- set lastPage = (totalRowCount / pageSize) | round(0, 'ceil') %}
{%- for page in range(1, lastPage + 1) %}
  {%- if page === 1 or page === lastPage or (page >= selectedPage - 1 and page <= (selectedPage | int) + 1) %}
    {%- set href = createUrlForParameters({ selectedPage: page }) %}
    {%- set pages = pages.concat({ number: page, href: href, current: (page === (selectedPage | int)) }) %}
  {%- elif page === 2 or page === lastPage - 1 %}
    {%- set pages = pages.concat({ ellipsis: true }) %}
  {%- endif %}
{%- endfor %}

<div>
  <div class="govuk-grid-column">
    {{ govukTable({
      caption: caption,
      captionClasses: "govuk-table__caption--m",
      head: head | applySorting(dataTableOptions, createUrlForParameters),
      rows: rows,
      classification: classification
    }) }}
  </div>
</div>
<div>
  <div class="govuk-grid-column-two-thirds">
  {{ govukPagination({
    previous: {
      href: createUrlForParameters({ selectedPage: selectedPage - 1 })
    } if ((selectedPage | int) > 1) else null,
    next: {
      href: createUrlForParameters({ selectedPage: (selectedPage | int) + 1 })
    } if ((selectedPage | int) < lastPage) else null,
    items: pages
  }) }}
  </div>
  <div class="govuk-grid-column-one-third data-table-page-size">
    <div class="govuk-input__wrapper">
      {{ govukSelect({
        id: "pageSize",
        name: "sort",
        value: pageSize,
        attributes: {
          onchange: "window.location.href = ('" + createUrlForParameters({ selectedPage: 1, pageSize: "thisValue" }) + "'.replace(/thisValue/, this.value))"
        },
        items: [
          {
            value: "10",
            text: "10"
          },
          {
            value: "20",
            text: "20"
          },
          {
            value: "100",
            text: "100"
          },
          {
            value: "200",
            text: "200"
          }
        ]
      }) }}
      <div class="govuk-input__suffix" aria-hidden="true">
        rows per page
      </div>
    </div>
  </div>
</div>
