<div class="chart">
  <canvas id="{{ chartId }}"></canvas>
  <div id="js-legend-{{ chartId }}" class="chart-legend"></div>
  <script>
    new Chart(document.getElementById('{{ chartId }}'), {
        type: 'pie',
        data: {
          labels: [{% for label in labels %}'{{ label }}',{% endfor %}], 
          datasets: [{
            label: 'Finds Dataset',
            data: [{{ data }}],
            backgroundColor: chartConfig.colours,
            hoverOffset: 4,
            datalabels: {
              anchor: 'end',
              align: 'end',
              offset: -50
            }
          }]
        },
        options: {
          plugins: {
            datalabels: {
              color: '#FFF',
              display: function(context) {
                const value = context.dataset.data[context.dataIndex]
                const total = context.dataset.data.reduce((a, c) => a + c, 0);
                const percentage = (value/total) * 100
                return percentage > 4;
              },
              formatter: function(value, context) {
                const dValue = context.dataset.data[context.dataIndex]
                const dLabel = context.chart.data.labels[context.dataIndex]
                const fullLabel = dValue 
                {# + ' \n' + dLabel #}
                return fullLabel;
              },
              textAlign: 'center',
              labels: {
                title: {
                  font: {
                    weight: 'bold'
                  }
                },
              }
            },
            legend: {
              display:false,
              position: 'bottom',
              height: 50,
            },
            tooltip: { 
              ...chartConfig.tooltip,
              callbacks: {
                label: function(context) {
                    let label = context.label;
                    let value = context.chart.data.datasets[0].data[context.dataIndex];
                    let sum = 0;
                    let dataArr = context.chart.data.datasets[0].data;
                    dataArr.map(data => {
                        sum += Number(data);
                    });
                    let percentage = (value * 100 / sum).toFixed(2) + '%';
                    return `${label}: ${value} (${percentage})`;
                }
              }
            }
          }
        },
        plugins:  [{
          id: 'legend',
          beforeInit: function(chart, args, options) {
            if (chart.canvas.id === "{{ chartId }}") {
              const ul = document.createElement('ul');
              chart.data.labels.forEach((label, i) => {
                ul.innerHTML += `
                  <li class=''>
                    <span style="background-color: ${ chart.data.datasets[0].backgroundColor[i] }">${ chart.data.datasets[0].data[i] }</span>
                    ${ label }
                  </li>
                `;
              });

              return document.getElementById("js-legend-{{ chartId }}").appendChild(ul);
            }
            return;
          }
        }]
    });
  </script>
</div>