{% extends "./layout.html" %}

{% block reportBody %}

<span class="govuk-caption-m">Version 6</span>
<h3 class="govuk-heading-m">Product Catalogue</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>DPD List</li>
  <li>Search</li>
  <li>Tagging</li>
  <li>Bookmarking</li>
</ul>

<div class='bookmark'>
  <input class="bookmark-input" type='checkbox' id='1' />
  <label for='1'></label>
</div><br><br>

<div class='bookmark'>
  <input class="bookmark-input" type='checkbox' id='2' />
  <label for='2'></label>
</div><br><br>

<div class='bookmark'>
  <input class="bookmark-input" type='checkbox' id='3' />
  <label for='3'></label>
</div>


<a href="./report/report-id">Report</a>

{% endblock %}