{% extends "./layout.html" %}

{% block reportBody %}
  {% set dataHtml %}
    <pre class="govuk-body-xs"id="json" data-dashboard='{{ reportData | dump | safe }}'></pre>
    <script>
      const data = document.getElementById("json").dataset.dashboard
      const json = JSON.parse(data)
      document.getElementById("json").textContent = JSON.stringify(json, null, 2);
    </script> 
  {% endset %} 
  {{ govukDetails({
    summaryText: "Data",
    html: dataHtml 
  }) }}

  {% set name = reportData.name %}
  {% set tags = reportData.tags %}
  {% set product = reportData.product %}
  {% set subDomain = reportData.subDomain %}
  {% set domain = reportData.domain %}

  <span class="govuk-caption-m">Operational Reports: Version 4 </span>
  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">{{ name }}</h3>

  <p class="govuk-body">
  {% for tag in tags %}
    <strong class="govuk-tag {{ tag.class }}">{{ tag.text }}</strong>
  {% endfor %}
  </p>
  <p class="govuk-body">
    <strong class="govuk-tag govuk-tag--grey">product: {{ product.name }}</strong>
    <strong class="govuk-tag govuk-tag--grey">domain: {{ domain }}</strong>
    <strong class="govuk-tag govuk-tag--grey">sub domain: {{ subDomain.name }}</strong>
  </p>

  <div class="report-placeholeder">
    <p>Report Placeholder</p>
  </div>

  {{ discoverRelatedSection(reportData, relatedLevelOne, relatedLevelZero, relatedProducts) }}

{% endblock %}