{% set defaultColours = [
  '#1d70b8',
  '#28a197',
  '#d4351c',
  '#912b88',
  '#f47738',
  '#505a5f'
] %}

{% set id = chartData.id %}
{% set labels = chartData.labels %}
{% set data = chartData.data %}
{% set axis = chartData.axis %}

<div class="chart">
  <canvas id="{{ id }}" class="chart-canvas"></canvas>
  <script>
    new Chart(document.getElementById('{{ id }}'), {
      type: 'matrix',
      data: {
        datasets: [{
          data: {{ data | dump | safe }},
          borderWidth: 1,
          borderColor: 'rgba(0,0,0,0.5)',
          backgroundColor: 'rgba(200,200,0,0.3)',
          width: ({chart}) => (chart.chartArea || {}).width / 24 - 1,
          height: ({chart}) =>(chart.chartArea || {}).height / 7 - 1
        }],
      },
      options: {
        plugins: {
          datalabels: { 
            display: false
          }
        },
        scales: {
          x: {
            type: 'category',
            labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24],
            ticks: {
              stepSize: 1
            },
            grid: {
              display: false
            }
          },
          y: {
            type: 'category',
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            offset: true,
            ticks: {
              stepSize: 1
            },
            grid: {
              display: false
            }
          }
        }
      }
    });
  </script>
</div>