{% extends parentLayout %}

{% block reportBody %}
{% set showFiltersButton = {
  text: 'Show filters',
  classes: 'govuk-button--primary filter-summary-show-filter-button',
  attributes: {
    'data-toggle-button': 'false',
    'data-toggle-button-target-selector': '.moj-filter-layout__filter',
    'data-toggle-button-caption-show': 'Show filters',
    'data-toggle-button-caption-hide': 'Hide filters'
  }
} %}

{% set selectedFilters = filters | mapSelectedValuesForButtonMenu(createUrlForParametersFilters) %}

{% if (selectedFilters.length > 0) %}
  {% set selectedFilters = [
    showFiltersButton,
    {
      text: 'Clear all',
      href: createUrlForParametersFilters(),
      classes: 'govuk-button--primary'
    }
  ].concat(selectedFilters) %}
{% else %}
  {% set selectedFilters = [ showFiltersButton ].concat(selectedFilters) %}
{% endif %}

  <h2 class="govuk-heading-m">
    {% block pageTitle %}{% endblock %}
  </h2>
  <div class="moj-filter-layout">
    <div class="moj-filter-layout__filter" style="display: none">
      {{ appFilters(
        filters,
        "onApplyFilters()"
      ) }}
    </div>
    <div class="moj-filter-layout__content">
      <div class="moj-action-bar">
        {{ mojButtonMenu({
          items: selectedFilters
        }) }}
      </div>
      <div class="moj-scrollable-pane">
        {{ appDataTable(
          null,
          head,
          rows,
          totalRowCount,
          dataTable,
          createUrlForParametersPaging
        ) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script lang="js">

  const onApplyFilters = function() {
    let url = decodeURI(window.location.href)
      .replaceAll(new RegExp("filters[.\\w]+=[^&]*", "g"),"")
      .replace(new RegExp("paging\\.selectedPage=\\d+"), "paging.selectedPage=1");
    if (url.indexOf("?") === -1) {
      url += "?";
    } else {
      url += "&";
    }
    url += $(".moj-filter-layout__filter input").serialize();
    url = url
      .replaceAll("?&","?")
      .replaceAll("&&","&")
    window.location.href = url
  }

</script>
{% endblock %}