{% extends parentLayout %}

{% block reportBody %}
{% set showFiltersButton = {
  text: 'Show filters',
  classes: 'govuk-button--primary filter-summary-show-filter-button',
  attributes: {
    'data-toggle-button': 'false',
    'data-toggle-button-target-selector': '.sidebar-filters',
    'data-toggle-button-target-group': '.filter-summary-show-filter-button',
    'data-toggle-button-caption-show': 'Show filters',
    'data-toggle-button-caption-hide': 'Hide filters'
  }
} %}
{% set chooseColumnsButton = {
  text: 'Choose columns',
  classes: 'govuk-button--primary filter-summary-show-filter-button',
  attributes: {
    'data-toggle-button': 'false',
    'data-toggle-button-target-selector': '.sidebar-columns',
    'data-toggle-button-target-group': '.filter-summary-show-filter-button',
    'data-toggle-button-caption-show': 'Choose columns',
    'data-toggle-button-caption-hide': 'Hide column panel'
  }
} %}

{% set selectedFilters = filters | mapSelectedValuesForButtonMenu(createUrlForParametersFilters) %}

{% set tableHtml %}
  <div class="moj-action-bar">
    {{ mojButtonMenu({
    items: selectedFilters
    }) }}
  </div>
  <div class="moj-scrollable-pane">
    {{ appDataTable(
    null,
    head,
    rows,
    totalRowCount,
    dataTable,
    createUrlForParametersPaging,
    columns
    ) }}
  </div>
{% endset -%}

{% set settingsHtml %}
  <div style="min-height:650px">
    <div class="sidebar-filters govuk-grid-column-one-half">
      {{ appFilters(
        "Filter",
        filters,
        "onApplyFilters()"
      ) }}
    </div>
    <div class="sidebar-columns govuk-grid-column-one-half">
      {{ appFilters(
        "Columns",
        [
          {
            name: "columns",
            type: "checkboxes",
            options: columnOptions,
            value: columns
          }
        ],
        "onApplyColumns()"
      ) }}
    </div>
  </div>
{% endset -%}

  <h2 class="govuk-heading-m">
    {% block pageTitle %}{% endblock %}
  </h2>
  {{ govukTabs({
  items: [
    {
      label: "Table",
      id: "table",
      panel: {
        html: tableHtml
      }
    },
    {
      label: "Settings",
      id: "settings",
      panel: {
        html: settingsHtml
      }
    }
  ]
  }) }}
{% endblock %}

{% block pageScripts %}
<script lang="js">

  const onApplyFilters = function() {
    let url = decodeURI(window.location.href)
      .replaceAll(new RegExp("filters[.\\w]+=[^&]*", "g"),"")
      .replace(new RegExp("paging\\.selectedPage=\\d+"), "paging.selectedPage=1")
      .replace(new RegExp("#.+"),"")

    if (url.indexOf("?") === -1) {
      url += "?";
    } else {
      url += "&";
    }
    url += $(".sidebar-filters input").serialize();
    url = url
      .replaceAll("?&","?")
      .replaceAll("&&","&")
    window.location.href = url
  }

  const onApplyColumns = function() {
    let url = decodeURI(window.location.href)
      .replaceAll(new RegExp("columns=[^&]*", "g"),"")
      .replace(new RegExp("#.+"),"")

    if (url.indexOf("?") === -1) {
      url += "?";
    } else {
      url += "&";
    }
    url += $(".sidebar-columns input").serialize().replaceAll("filters.","");
    url = url
      .replaceAll("?&","?")
      .replaceAll("&&","&")
    window.location.href = url
  }

</script>
{% endblock %}
