{% from "../insight-card/basic/macro.html" import insightCardBasic as insightCardBasic %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full insight-card-container">
    
    {% for insightData in insightsData %}
      {{ insightCardBasic(insightData) }}
    {% endfor %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>
  <script>
    const data = {{ insightsData | dump | safe }}
    const base_url = window.location.origin

    data.forEach((insightData) => {
      const { id } = insightData
      const element = document.getElementById(id);
      
      element.addEventListener("click", async (e) => {
        e.preventDefault();
        if(!insightData.added) {
          insightData.added = true
          await createInsight(insightData);
        } else {
          await removeInsight(insightData);
          location.reload();
        }
      });
    })
  
    async function createInsight(insight) {
      const res = await axios.post(`${base_url}/safety-diagnostic-tool/v2/addInsight/`, {
        body: JSON.stringify(insight)
      });
    }

    async function removeInsight(insight) {
      const res = await axios.post(`${base_url}/safety-diagnostic-tool/v2/removeInsight/`, {
        body: JSON.stringify(insight)
      });
    }
  </script>
