.chart-card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: govuk-spacing(6);
  column-gap: govuk-spacing(6);
  flex-direction: row;

  .chart-group__item {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 31.3%; // deafault to one third width
    list-style-type: none;
    position: relative;
    min-width: 0;
  }

  .chart-group__item--break {
    border-bottom: 1px solid govuk-colour("mid-grey");
  }

  .chart-group__item--quarter {
    flex-basis: 25%;
  }

  .chart-group__item--third {
    flex-basis: 31.3%;
  }

  .chart-group__item--half {
    flex-basis: 48%;
  }

  .chart-group__item--full {
    flex-basis: 49%;
  }
  
  .chart-group__item--date {
  
    .value-meta {
      position: absolute;
      bottom: 12px;
      left: 0;
      margin-bottom: 0px;
    }
  }
}


.chart-canvas {
  width: 100%;
  height: 100% !important
}

.chart {
  width: 95%;
  position: relative;
}

.chart-card {
  position: relative;
  padding-bottom: govuk-spacing(7);

  .chart--line {
    height: 350px;
  }
}

.chart-card__pie-wrapper {
  padding: 0 govuk-spacing(6);
}

.chart-card-totals {
  display: flex;
  flex-wrap: wrap;

  .chart-totals__total {
    display: flex;
  }
}

.chart-legend {
  padding-top: 15px;
  font-family: 'GDS Transport';
  font-size: 12px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li { 
      display: inline-flex;
      min-width: 49%;
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 15px;
        color: #fff;
        font-size: 12px;
        margin-bottom: 4px;
        margin-right: 4px;
      }
    }
  }
}