.v3-dropdown-button {
  position: relative;

  button.govuk-button, a.govuk-button {
    box-shadow: none;
    margin-bottom: 0;
  }

  ul {
    background-color: white;
    border-top: #b1b4b6 1px solid;
    display: inline-block;
    right: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 10000;
  }

  li {
    border: #b1b4b6 1px solid;
    border-top: 0;
    text-align: left;
    width: 100%;

    button, a {
      text-align: left;
      width: 100%;
    }

    div {

      margin-bottom: 0;
      padding: 8px 12px 7px;
    }
  }
}