{% from "./../chart/doughnut/macro.html" import doughnutChart as donutChart %}
{% from "./../chart/line/macro.html" import lineChart as lineChart %}

{% set type = chartCardData.chartType %}
{% set id = chartCardData.id + chartId %}
{% set description = chartCardData.description %}
{% set labels = chartCardData.labels %}
{% set data = chartCardData.data %}
{% set date = chartCardData.date %}
{% set href = chartCardData.href %}
{% set halfWidth = ['line', 'bar'] %}

<div class="chart-group__item {% if date or href %}chart-group__item--date {% endif %} {% if type in halfWidth %} chart-group__item--half {% endif %}">
  <div class="chart-card">

    <h1 class="govuk-heading-s govuk-!-margin-bottom-1">{{chartCardData.title}}</h1>

    {% if description %}
      <p class="govuk-body-xs govuk-!-margin-bottom-1">
        <span>{{ description }}</span>
      </p>
    {% endif %}

    {% if type === 'doughnut' %}
      <div class="chart-card__pie-wrapper govuk-!-margin-top-2">
        {{ donutChart(id, labels, data ) }}
      </div>
    
    {% elif type === 'pie' %}
      <p class="govuk-body-s govuk-!-margin-bottom-1">
        Total: <span class="govuk-!-font-weight-bold govuk-!-padding-right-3">{{  chartCardData.total }}</span>
      </p>
      <div class="chart-card__pie-wrapper">
        {{ donutChart(id, labels, data, 'pie') }}
      </div>
    
    {% elif type === 'line' %}
      {% if data[0].total %}
        <div class='chart-card-totals govuk-!-margin-bottom-2'> 
          {% for set in data %}
            {% if set.total %}
              <p class="govuk-body-s govuk-!-margin-bottom-1 chart-card-totals__total">
                {{ set.title }}: <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">{{ set.total }}</span>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {{ lineChart(id, labels, data) }}
    {% endif %}
  </div>

  {% if date or href %}
    <p class="govuk-body-xs {% if date or href %} value-meta{% endif %}">
      {% if date %}Value for {{ date }}. {% endif %}
      {% if href %}<a href="{{ href }}" class="govuk-link govuk-link--no-visited-state">View measure<span class="govuk-visually-hidden"> </span></a>{% endif %}
    </p>
  {% endif %}
  
</div>