{% from "./../chart/doughnut/macro.html" import doughnutChart as donutChart %}
{% from "./../chart/line/macro.html" import lineChart as lineChart %}
{% from "./../chart/bar/macro.html" import barChart as barChart %}
{% from "./../chart/heatmap/macro.html" import heatmapChart as heatmapChart %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set card = chartCardData.card %}
{% set title = card.title %}
{% set description = card.description %}
{% set date = card.date %}
{% set href = card.href %}
{% set width = card.width %}

{% set chart = chartCardData.chart %}
{% set type = chart.type %}

<div class="chart-group__item {% if width %} chart-group__item--{{ width }} {% endif %} {% if date or href %}chart-group__item--date {% endif %}">
  <div class="chart-card chart-card--padding">

    <h1 class="govuk-heading-m">{{ title }}</h1>

    {% if description %}
      <p class="govuk-body">
        <span>{{ description }}</span>
      </p>
    {% endif %}

    <div class="chart-container">
      {% if type === 'doughnut' %}

        <div class="chart-card__pie-wrapper govuk-!-margin-top-2">
          {{ donutChart(chart) }}
        </div>
      
      {% elif type === 'pie' %}

        <p class="govuk-body govuk-!-margin-bottom-1">
          Total: <span class="govuk-!-font-weight-bold govuk-!-padding-right-3">{{ chart.total }}</span>
        </p>
        <div class="chart-card__pie-wrapper">
          {{ donutChart(chart) }}
        </div>

      {% elif type === 'line' or type === 'bar'  %}

        {% set data = chart.data %}
        
        {% if data[0].total %}
          <div class='chart-card-totals govuk-!-margin-bottom-2'> 
            {% for set in data %}
              {% if set.total %}
                <p class="govuk-body govuk-!-margin-bottom-1 chart-card-totals__total">
                  {{ set.title }}: <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">{{ set.total }}</span>
                </p>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if type === 'line'  %}
          {{ lineChart(chart) }}
        {%  elif type === 'bar' %}
          {{ barChart(chart) }}
        {% endif %} 

      {% elif type === 'heatmap' %}

        {{ heatmapChart(chart) }}

      {% endif %} 
    </div>
  </div>

  {% if date or href %}
    <p class="govuk-body-xs {% if date or href %} value-meta{% endif %}">
      {% if date %}Value for {{ date }}. {% endif %}
      {% if href %}<a href="{{ href }}" class="govuk-link govuk-link--no-visited-state">View measure<span class="govuk-visually-hidden"> </span></a>{% endif %}
    </p>
  {% endif %}
</div>