
{% extends "layout.html" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  {{ appCardGroup(cards) }}

  <h2 class="govuk-heading-m">
    My saved views ({{ myLists.length }})
  </h2>

  {% if myLists.length %}
    <a href="./lists/manage" class="govuk-link govuk-body-s">Manage views</a>
    {{ appCardGroup(myLists) }}
  {% else %}
    <p class="govuk-body">Customised reports can be saved as views. Your saved views will appear here </p>

    {{ govukDetails({
      summaryText: "What is saved in a view?",
      classes: detailsClasses,
      text: "Any filters you have applied, and columns you have selected will be saved for quick future access"
    }) }}

    <p><strong>You currently have no saved views</strong></p>
  {% endif %}

{% endblock %}
