
{% extends "layout.html" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  {{ appCardGroup(cards) }}

  <h2 class="govuk-heading-m">
    My saved lists ({{ myLists.length }})
  </h2>

  {% if myLists.length %}
    <a href="./lists/manage" class="govuk-link govuk-body-s">Manage Lists</a>
    {{ appCardGroup(myLists) }}
  {% else %}
    <p class="govuk-body">Your saved lists will appear here. You currently have no saved lists</p>
  {% endif %}

{% endblock %}
