{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set detailsClasses = 'filters-accordion govuk-!-margin-0' %}

{% set selectedFilters = filters | mapSelectedValuesForButtonMenu(createUrlForParametersFilters) %}

{% set filterHtml %}
<div class="data-table-filters">
  {{ appFilters(
    "Filter",
    filters,
    "onApplyFilters()"
  ) }}
</div>
{% endset %}

{% set columnsHtml %}
{% set cols = {
  name: "columns",
  type: "checkboxes",
  options: columnOptions,
  value: columns
}%}

<div class="data-table-columns">
  {{ appFilters(
    "Columns",
    [
      cols
    ],
    "onApplyColumns()",
    "onResetColumns()"
  ) }}

  <p id="maxColumnHelpText" class="govuk-body max-column-help-text">Max column allowance reached. Remove a column before selecting another</p>
</div>
{% endset %}

<div class="filter-section">
  <div class="filter-section-row filter-section-row__filter">
    
    <div class="filter-section-accordion-button">
      {{ govukDetails({
        summaryText: "Filters",
        classes: detailsClasses,
        html: filterHtml 
      }) }}
    </div>

    <div class="filter-section-details">
      {%- for filter in selectedFilters %}
        <p class="govuk-body filter-remove-button__text govuk-!-margin-bottom-0" onclick="removeFilter('{{ filter.href }}')">
          {{ filter.text }}
          <span class="filter-remove-button-icon"></span>
        </p>
      {%- endfor %}
    </div>
  </div>  

  <div class="filter-section-row filter-section-row__columns">
    <div class="filter-section-accordion-button">
      {{ govukDetails({
        summaryText: "Columns",
        classes: detailsClasses,
        html: columnsHtml 
      }) }}
    </div>
    <div class="filter-section-details">
      <div class="filter-section-details__text">
        <p class="govuk-body govuk-!-margin-bottom-0">{{ columns.length }} of {{ columnOptions.length}} shown <span class="govuk-body-xs">( max columns: <span id="maxColumns"></span> )</span></p>
      </div>
    </div>
  </div>   

</div>

{% block pageScripts %}
<script lang="js">
  const maxColumns = 9
  const maxColumnsHtml = document.getElementById('maxColumns');
  const maxColumnHelpText = document.getElementById('maxColumnHelpText');
  maxColumnsHtml.innerHTML = maxColumns
  const inputs = document.querySelectorAll(".data-table-columns input[type='checkbox']");

  const disableColumnCheckboxes = function() {
    let selected = 0;
    inputs.forEach( ( i ) => {
      if( i.checked ) selected++
    })
    if( selected >= maxColumns) {
      inputs.forEach( ( x ) => {
        if( !x.checked ) x.disabled = true
      })
      maxColumnHelpText.classList.add('show')
    } else {
      inputs.forEach( ( y ) => { 
        if( !y.getAttribute("data-mandatory-field") ) y.disabled = false 
      })
      maxColumnHelpText.classList.remove('show')
    }
  }

  disableColumnCheckboxes()

  inputs.forEach((input)=> {
    input.addEventListener("click", () => {
      disableColumnCheckboxes()
    })
  })

  const onApplyFilters = function() {
    let url = decodeURI(window.location.href)
      .replaceAll(new RegExp("filters[.\\w]+=[^&]*", "g"),"")
      .replace(new RegExp("paging\\.selectedPage=\\d+"), "paging.selectedPage=1");
    if (url.indexOf("?") === -1) {
      url += "?";
    } else {
      url += "&";
    }
    url += $(".data-table-filters input").serialize();
    url = url
      .replaceAll("?&","?")
      .replaceAll("&&","&")
    window.location.href = url
  }

  const onApplyColumns = function() {
    let url = decodeURI(window.location.href)
      .replaceAll(new RegExp("columns=[^&]*", "g"),"")
    if (url.indexOf("?") === -1) {
      url += "?";
    } else {
      url += "&";
    }
    url += $(".data-table-columns input").serialize().replaceAll("filters.","");
    url = url
      .replaceAll("?&","?")
      .replaceAll("&&","&")
    window.location.href = url
  }

  const onResetColumns = function() {
    let url = decodeURI(window.location.href)
      .replaceAll(new RegExp("&?columns=[^&]*", "g"),"")
    if (url.indexOf("?") === -1) {
      url += "?";
    } else {
      url += "&";
    }
    url += "columns=reset";
    window.location.href = url
  }

  const removeFilter = function(url) {
    window.location.href = url
  }

</script>
{% endblock %}