{% extends "../../../layout.html" %}

{% block contentBody %}
  {{ chartCardGroup([
    {
      card: {
        title: 'Assault Incidents',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        width: 'full',
        date: 'last 7 days'
      },
      chart: {
        id: 'chart5',
        type: 'bar',
        labels: ['Assaults'],
        data: [
          {
            title: 'Serious',
            data: [60],
            total: 60
          },
          {
            title: 'General',
            data: [100],
            total: 100
          }
        ],
        axis: 'y'
      }
    },
    {
      card: {
        title: 'Reason for assault',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        width: 'full'
      },
      chart: {
        id: 'chart342',
        type: 'bar',
        labels: ['Retaliation', 'Uncategorised', 'Bullying', 'No Data', 'Non-comliance', 'Debt', 'Gang related', 'Food and Queuing', 'Drugs and Alcohol', 'Unauthorised Item', 'Tobacco'],
        data: [
          {
            title: 'Assaults',
            data: [467, 300, 287, 245, 200, 135, 120, 60, 34, 20, 12]
          }
        ],
        axis: 'y'
      },
      table: {
        headings: ['Reason', 'Count'],
        values: [
          {
            label: 'Retaliation',
            value: '467'
          },
          {
            label: 'Uncategorised',
            value: '300'
          },
          {
            label: 'Bullying',
            value: '287'
          },
          {
            label: 'No Data',
            value: '245'
          },
          {
            label: 'Non-comliance',
            value: '200'
          },
          {
            label: 'Debt',
            value: '135'
          },
          {
            label: 'Gang related',
            value: '120'
          },
          {
            label: 'Food and Queuing',
            value: '60'
          },
          {
            label: 'Drugs and Alcohol',
            value: '34'
          },
          {
            label: 'Unauthorised Item',
            value: '20'
          },
          {
            label: 'Tobacco',
            value: '12'
          }
        ]
      }
    },
    {
    card: {
      title: 'Prisoner on Prisoner Assaults',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      width: 'full'
    },
    chart: {
      id: 'chart1',
      type: 'line',
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      data: [
        {
          title: 'Assaults',
          data: [100, 130, 80, 60, 99, 50, 65, 100, 130, 80, 60, 99, 50, 65],
          total: 1168
        },
        {
          title: 'Serious',
          data: [60, 70, 50, 40, 5, 20, 43, 60, 70, 50, 40, 5, 20, 43],
          total: 576
        }
      ]
    }
  },
  {
    card: {
      title: 'Prisoner on Staff Assaults',
      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      width: 'full'
    },
    chart: {
      id: 'chart2',
      type: 'line',
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      data: [
        {
          title: 'Assaults',
          data: [18, 50, 45, 90, 120, 59, 72, 110, 32, 28, 57, 45, 80, 124],
          total: 930
        },
        {
          title: 'Serious',
          data: [5, 32, 23, 40, 70, 32, 43, 60, 7, 12, 8, 21, 50, 43],
          total: 446
        }
      ]
    }
  }
  ])}}

{% endblock %}
