{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/filter/macro.njk"   import mojFilter -%}

{%- set filterOptionsHtml %}
  {%- for filter in filters %}
    {%- if filter.type === 'select' %}
      {{ govukSelect({
        id: 'filters.' + filter.name,
        name: 'filters.' + filter.name,
        value: filter.value,
        items: filter.options,
        label: {
          text: filter.text
        }
      }) }}
    {% elif filter.type === 'radio' %}
      {{ govukRadios({
        id: 'filters.' + filter.name,
        name: 'filters.' + filter.name,
        fieldset: {
          legend: {
            text: filter.text,
            classes: "govuk-label"
          }
        },
        items: filter.options,
        value: filter.value
      }) }}
    {% endif %}
  {%- endfor %}
{%- endset %}

{{ mojFilter({
  heading: {
    text: 'Filter'
  },
  selectedFilters: {
    heading: {
      text: 'Selected filters'
    },

    clearLink: {
      text: 'Clear filters',
      href: 'createUrlForParameters()'
    },

    categories: filters | mapSelectedValuesForFilter(createUrlForParameters)
  },
  optionsHtml: filterOptionsHtml
}) }}