{% from "govuk/components/select/macro.njk"       import govukSelect %}
{% from "govuk/components/radios/macro.njk"       import govukRadios %}
{% from "moj/components/filter/macro.njk"         import mojFilter -%}
{% from "../../date-picker/views/date-picker.njk" import appDatePicker %}

{%- set filterOptionsHtml %}
  {%- for filter in filters %}
    {%- if filter.type === 'select' %}
      {{ govukSelect({
        id: 'filters.' + filter.name,
        name: 'filters.' + filter.name,
        value: filter.value,
        items: filter.options,
        label: {
          text: filter.text
        }
      }) }}
    {% elif filter.type === 'radio' %}
      {{ govukRadios({
        id: 'filters.' + filter.name,
        name: 'filters.' + filter.name,
        fieldset: {
          legend: {
            text: filter.text,
            classes: "govuk-label govuk-!-font-weight-bold"
          }
        },
        items: filter.options,
        value: filter.value
      }) }}
    {% elif filter.type === 'date-range' %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-label govuk-!-font-weight-bold">
            {{ filter.text }}
          </legend>
          {{ appDatePicker({
            id: 'filters.' + filter.name + '.start',
            label: 'Start',
            name: 'filters.' + filter.name + '.start',
            date: filter.value.start,
            attributes: {
              'data-disable-future-date': 'true'
            }
          }) }}
          {{ appDatePicker({
            id: 'filters.' + filter.name + '.end',
            label: 'End',
            name: 'filters.' + filter.name + '.end',
            date: filter.value.end,
            attributes: {
              'data-disable-future-date': 'true'
            }
          }) }}
        </fieldset>
      </div>
    {% endif %}
  {%- endfor %}
{%- endset %}

{{ mojFilter({
  heading: {
    text: 'Filter'
  },

  submit: {
    attributes: {
      onclick: onApplyFilters
    }
  },

  selectedFilters: {

    clearLink: {
      text: 'Clear filters',
      href: createUrlForParameters()
    },

    categories: filters | mapSelectedValuesForFilter(createUrlForParameters)
  },
  optionsHtml: filterOptionsHtml
}) }}