<ul class="govuk-grid-row card-group">
  {% for card in cards %}
  <li class="govuk-grid-column-one-quarter card-group__item">
    <div class="card card--clickable" onclick="window.location.href = '{{ card.href }}'">
      <h2 class="govuk-heading-m card__heading">
        <a class="govuk-link card__link govuk-link--no-visited-state" href="{{ card.href }}">
          {{ card.text }}
        </a>
      </h2>
      <p class="govuk-body card__description">
        {{ card.description | safe }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
