
{% extends "layout.html" %}

{% block pageTitle %}
  Digital Prison Reporting MI Prototype - Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h1 class="govuk-heading-xl">
        Digital Prison Reporting MI Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      {{ appCardGroup([
        {
          text: 'Reports A',
          href: '/reports-a/',
          description: 'Reports navigated with a side navigation menu that persists into each report.'
        },
        {
          text: 'Reports B',
          href: '/reports/',
          description: 'Reports navigated with cards on the front page and breadcrumbs to return. Alternatively a "< Back" link could be displayed for return.'
        },
        {
          text: 'Another tile',
          href: '/',
          description: 'This is here to demonstrate the three tiles and doesn\'t offer any other value.'
        }
      ]) }}

    </div>
  </div>

{% endblock %}
