{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}
{%- set today = getTodayMinusDays(0) -%}
{%- set yesterday = getTodayMinusDays(1) -%}
{%- set lastWeek = getTodayMinusDays(8) -%}
{% set reportsNavItems = [
        {
          heading: {
            text: 'External movements by'
          },
          items: [
            {
              text: 'Day of the Week',
              href: '/visualisations/external-movements-by-weekday-line',
              description: 'External movements by Day of the Week.'
            },
            {
              text: 'Direction',
              href: '/visualisations/external-movements-by-direction-bar',
              description: 'External movements by Direction.'
            },
            {
              text: 'Reason',
              href: '/visualisations/external-movements-by-reason-bar-y',
              description: 'External movements by Reason.'
            }
          ] | setCurrentToActive(currentUrl)
        }
      ] %}

{% set listsNavItems = [
        {
          heading: {
            text: 'External movements'
          },
          items: [{
            text: 'All',
            href: '/lists/external-movements',
            description: 'A record of all prisoner external movements.'
          }, {
            text: 'Admissions last week',
            href: '/lists/external-movements?filters.date.start=' + lastWeek + '&filters.date.end=' + today + '&filters.direction=in&filters.type=admission',
            description: 'A list of admissions in the past week.'
          }, {
            text: 'Yesterday\'s transfers out',
            href: '/lists/external-movements?filters.date.start=' + yesterday + '&filters.date.end=' + today + '&filters.direction=out&filters.type=transfer',
            description: 'A list of yesterday\'s transfers out.'
          }] | setCurrentToActive(currentUrl)
        },
        {
          heading: {
            text: 'Person register'
          },
          items: [{
            text: 'Person register',
            href: '/lists/person-register',
            description: 'A register of all people.'
          }] | setCurrentToActive(currentUrl)
        }
      ] %}

{% set sdtVersions = {
      path: '/safety-diagnostic-tool', 
      items: [
        {
          versionNumber: 2,
          status: 'in design',
          description: sdtChangeLog2,
          changeLogPath: 'safetyDiagnosticTool/versions/v2/changeLog.html'
        },
        {
          versionNumber: 1,
          status: 'closed',
          description: sdtChangeLog1,
          changeLogPath: 'safetyDiagnosticTool/versions/v1/changeLog.html'
        }
      ] | setCurrentToActive(currentUrl)
    }
%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}
{%- from "moj/components/button-menu/macro.njk"          import mojButtonMenu -%}
{% from "moj/components/primary-navigation/macro.njk"    import mojPrimaryNavigation %}
{% from "moj/components/side-navigation/macro.njk"       import mojSideNavigation %}
{% from "../components/card-group/macro.html"            import appCardGroup %}
{% from "../components/data-table/views/macro.html"      import appDataTable %}
{% from "../components/filters/views/macro.html"         import appFilters %}
{% from "../components/version-list/macro.html"          import appVersionList %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Home',
        href: '/'
      },
      {
        text: 'Lists',
        href: '/lists/'
      },
      {
        text: 'Visualisations',
        href: '/visualisations/'
      },
      {
        text: 'Safety Diagnostic Tool',
        href: '/safety-diagnostic-tool/'
      }
    ] | setCurrentToActive(currentUrl)
  }) }}
  {% block subHeader %}{% endblock %}
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
