<div class="dpr-card-group">
  {% for card in cards %}
    {% set href = card.href  %}
    {% set domains = card.domains  %}
    <div class="dpr-card-group__item dpr-card-group__item--recent" href="{{ href }}">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-static-margin-top-0">
      <div class="dpr-card-group__item-header">
        <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-body card__link" href="{{ href }}">
          {{ card.text }}
        </a>
      </div>
      <p class="govuk-!-static-margin-top-3 govuk-!-static-margin-bottom-0 card__description govuk-body-s">
        {{ card.text }} {{ card.text }}
      </p>
    </div>
  {% endfor %}
</div>
